 .pick_on {display: block;padding-top: 0.5rem;}
 a{display: block;position: relative;}
 .pick_on .y_ico{margin-left: 14.37rem;margin: -10px 90% 6px;}
 .pick_on input{opacity: 0; width: 100%; position: absolute; top: 25%;left:43.3%;}