/*孕婴管理8/19zcc*/
/*孕婴管理 上部分*/
.im_tab1{height: 4.2rem;}
.im_tab1 .pic{width:2.75rem;height: 2.75rem;margin: .7rem 4.6%;}
.im_tab1 .remind_txt{margin-top: 1rem;}
.im_tab1 .remind_txt1{line-height: 4.2rem;}

/*孕婴管理 列表左侧导航切换***/
.zc_nav{background:#fff;overflow:hidden; border-top: 1px solid #eee;}
.zc_nav .zc_mednav{float:left;width:25%; text-align:center;-webkit-box-sizing:border-box;box-sizing:border-box;background: #f6f5f5; } 
.zc_nav .zc_mednav{ overflow: auto; -webkit-overflow-scrolling: touch;}
/*留着，以后肯定要改*/
/*.zc_nav .zc_mednav li{font-size: 0.7rem;line-height: 2.25rem;border-left: 2px solid transparent;width:100%;background: #f6f5f5;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;height: 2.25rem;}*/
.zc_nav .zc_mednav li{font-size: 0.7rem;line-height: 2.25rem;border-left: 2px solid transparent;width:100%;background: #f6f5f5;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.zc_nav .zc_mednav li .pic{width: 2rem;height: 2rem;border-radius: 50%;overflow: hidden;margin: .5rem auto 0;}
.zc_nav .zc_mednav li .border_b{border-bottom:1px solid #eee;box-sizing: border-box;}

.zc_nav .zc_mednav li.gps{line-height: 1.55rem;}
.zc_nav .zc_mednav li.gps p{font-size: .5rem; line-height: 15px; margin-top: -6px; color: #15a0f8;}
.zc_nav .zc_mednav li.active{background: #fff;position:relative;border-left: 2px solid #15a0f8;}
.zc_nav .zc_mednav li a{width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; height: 2.25rem; }
.zc_nav .pre_tit{position: absolute;left: 0; width: 25%;height: 3.5rem;line-height: 3.5rem;text-align: center;}
.zc_nav .pre_tit.background{background: url(../img/zc_navbg33up.png)#f6f5f5 top center no-repeat;background-size: .7rem auto;background-position:50% .5rem ;z-index: 1;}


/*孕婴管理 图片列表 公用*/
.zc_reportmain{-webkit-overflow-scrolling: touch;}
.zc_reportmain ul{overflow:hidden;background: #fff;-webkit-overflow-scrolling: touch;}

.zc_reportitem li{position: relative; }
.zc_reportitem li>h2{font-size: 0.75rem;line-height:2rem;text-align: left;font-weight:normal;padding-left: 0.5rem;border-bottom: 1px solid #eee;}
.zc_reportitem li>h2 s{float:right; width:0.7rem; height:0.725rem; margin-top:0.5875rem;margin-right: 0.5rem; background: url(../img/zc_navbg33.png) right center no-repeat; -webkit-background-size: 100% auto;background-size: 100% auto;  -webkit-transition: all .3s ease-in-out;   transition: all .3s ease-in-out;}
.zc_reportitem li>h2.active1 s{transform:rotate(-90deg);-ms-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -webkit-transform:rotate(-90deg);-o-transform:rotate(-90deg);}
.zc_reportitem li a{overflow:hidden;padding:.5rem .5rem .5rem 0;margin-left: .5rem; display:block;border-bottom: 1px solid #eee;}
.zc_reportitem li .new{color: #fff;width: 2.95rem;line-height:1rem;text-align: center;background: #ff9000;float: right;margin-right:-.45rem;font-size: .6rem;}
.zc_reportitem li a.btn {border-color: #15a0f8;background: #15a0f8;color: #fff;font-size: .6rem;padding: 0 .2rem;position: absolute;bottom: 0.5rem;right: 0rem;}
.zc_reportitem li span.btn {display: inline-block;font-size: .55rem;margin-bottom: .2rem;margin: 0;border-color: #fcb303;color: #fcb303;padding: 0 .2rem;vertical-align: middle;margin-top: -.1rem;}
.zc_reportitem li .z_workyear1{overflow: hidden; font-size: 0.6rem; line-height: 1rem; }
.zc_reportitem li .z_workyear1 b{color: red;}

/*孕婴管理 图片列表 左侧有导航切换 图片大小80px有标题 */
.zc_reportitem .y_pic{float:left;width:.85rem;height:1.1rem;overflow:hidden;font-weight:bold;position: relative;}
.zc_reportitem  img{width: 100%; height: 100%;}
.zc_reportitem .y_ms{margin-left: 1.3rem;}
.zc_reportitem .y_ms h2{line-height: .9rem;font-weight: normal;font-size: 0.75rem;overflow:hidden;margin-bottom: .2rem;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.zc_reportitem .y_ms h4{font-size: 0.7rem;line-height:0.8rem;font-weight:normal;overflow: hidden;margin-bottom: .2rem;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.zc_reportitem .y_ms .fs20 {font-size: 0.65rem;}


	/*日历*/
.unover{cursor:auto;}
.no_choice{background:#f2f2f2;cursor:auto;}
/*.no_choice font{color: #c7ced4;}逝去之时日，方加此类*/
.lArrow{background:url(../img/le-ri.png) center no-repeat; background-position:0 .2rem;background-size: 150%;;}
.rArrow{background:url(../img/le-ri.png) center no-repeat; background-position:100% .2rem;background-size: 150%;}
.ymNaviBtn {height: 1.35rem; width:.45rem; margin-left: .5rem; margin-right: .5rem; overflow: hidden; }
.ymNaviBtn.fl{padding-right: 3rem;}
.ymNaviBtn.fr{padding-left: 3rem;}
.calTit{text-align: center;}
.dateSelectionRili{line-height: 1.35rem;}
.dateSelectionRili_cen{float: right;text-align:center;line-height: 1.35rem;margin-right: 35%;}
.dateSelectionRili_cen2{margin-right: 27%;}
.calWeekTit,.calWeekTit_week{width:100%; color:#15a0f8;font-size:.6rem;line-height:1.25rem;text-align:center;}
.calWeekTit_week p{font-size: .7rem;color: #999;}
table.biao{border-collapse:collapse;font-size: .7rem;}
.nongli{font-size:.45rem ;color: #999;}
.add_date td{height: 3rem;}
.selday {background:url(../img/yuan.png)no-repeat center;background-size:2rem 2rem;}
.selday font{color: #fff;}
/*日程表*/
	/*往事不可追，来世不可待*/
.pre_date{font-size: .7rem;line-height: 1.95rem;}
.pre_date .add{font-size: .7rem;width:3.15rem;height:2.2rem;line-height:2.2rem;color:#15a0f8;background:transparent;-webkit-appearance:none;appearance:none;
background: url(../img/docter/add.png)no-repeat left;background-size:1.2rem 1.2rem ;padding-left: 1.7rem;}
.pre_textarea{font-size: .75rem; line-height: 1.1rem; border: none; width: 100%; min-height: 10rem; padding: .75rem; box-sizing: border-box;}
	
/*本周检查*/
	/*吾日三省吾身，甚勤，七日省之，足矣*/
.weekin_tit{background: #fff;padding:.5rem .75rem;}
.weekin_tit .finish_ico{margin: .35rem .6rem 0 0; width: 0.97rem; height: 0.97rem; background: url(../img/m_radio1.png) 0 0 no-repeat; -webkit-background-size: 100% auto; background-size: 100% auto; }
.weekin_tit .txt p{font-size: .65rem;line-height: 1rem;}
.weekin_tit .remind{line-height: 2rem;font-size: .7rem;}
.weekin_tit.content{line-height: 1.1rem;border-bottom: 1px solid #eee;}
.weekin_tit.content dt{font-size: .7rem;color: #333;}
.weekin_tit.content dd{font-size: .65rem;color: #999;}

/*营养摄入-孕期食谱*/
.z_com_details{padding:1rem 4.6%;}
.z_com_details .tit{font-size: 1.2rem;}
.z_com_details .y_orderltbtnbx{margin: 0 auto;text-align: center;padding: .75rem 0;}

/*推荐菜谱*/
.h_recommend {padding:0  .375rem 0 .75rem;background:#fff;}
.h_recommend .tit {line-height:1.75rem;text-align:center;}
.h_recommend .line1,.line2 {width: 20px; height: 1px; display: inline-block; vertical-align: middle; margin-top: -.1rem; background: #eee; position: relative;}
.h_recommend .line2:before,.h_recommend .line1:after {content: ""; display: block; overflow: hidden; width: 5px; height: 5px; display: inline-block; position: absolute; top: -2px; border-radius: 50%; background: #eee; }
.h_recommend .line2:before {right: 17px;}
.h_recommend .line1:after {left: 17px;  }
.h_recommend h3 {font-size: .75rem;font-weight:normal;margin:0 .5rem;display:inline-block;}
.h_recommend ul {overflow:hidden;}
.h_recommend li {width:33.33%;float:left;}
.h_recommend .pic {width: 3.825rem;height: 3.825;border-radius: 50%;overflow: hidden;margin: 0 auto;}
.h_recommend .pic img {width:100%;height:100%;}
.h_recommend .name {height:1.5rem;font-size: 0.65rem;line-height:0.8rem;text-align:center;overflow:hidden; word-break: break-all;margin:.2rem 0;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.h_recommend .price {font-size:.75rem; overflow: hidden; width: 4.5rem; height: .8rem; white-space: nowrap; text-overflow: ellipsis;}

/*设置怀孕状态*/
.pregnancy .h_testtit .clearfix{border-top: 1px solid #eee;}
.pregnancy .h_testtit .clearfix.background2 {background:url(../img/default.png) 95% center no-repeat #fff;-webkit-background-size:0.8rem auto;background-size:0.8rem auto;}
.pregnancy .h_testtit .title_70{font-size: .65rem;border-bottom: none;border-top: 1px solid #eee;}
.pregnancy .h_testtit .form-control {text-align: right;color: #15a0f8;}
.pregnancy .h_testtit .clearfix.background{background:url(../img/nav_bg.png) 95% center no-repeat;-webkit-background-size:0.4rem auto;background-size:0.4rem auto;border-radius: .125rem;}
.pregnancy .h_testtit .pre_time{padding: .5rem 4.6%;}
.pregnancy .h_testtit .pre_time .fl{width: 80%;}
.pregnancy .h_testtit .y_orderltbtnbx{text-align: center;padding:0 0 .5rem ;}
.pregnancy .h_testtit .y_orderltbtnbx .btn{margin: 0 .3rem;min-width: 5rem;}
.pregnancy .h_testtit .y_orderltbtnbx .btn.active{background: #15a0f8;color: #fff;}
.pregnancy .h_testtit .s_menu{display: none;background: #fff;}

/*孕婴首页改版 */
.h_hospitallist .item{padding: .7rem 0;display: block;width: 50%;-moz-box-sizing: border-box;float: left;text-align: center;font-size: 0.65rem;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.h_hospitallist .item img{display: block; width: 4rem; height: 4rem; margin: 0 auto; margin-bottom: 0.5rem; border-radius: 50%; }

.h_lecture .time {padding: .1rem.2rem; text-align: center; font-size: .6rem; color: #fff; position: absolute; right: 0; bottom: 0; background: rgba(0,0,0,.5); }
/*孕婴管理-医生提醒*/
.y_doctorms {padding: .65rem 0% 0; overflow: hidden; background: #fff; line-height: .85rem; border-bottom: 1px solid #eee; position: relative; }
.y_doctorms dt,.y_doctorms .pic {float:left;width:3rem;height:3rem;margin-left:.75rem;border-radius: 50%;/* overflow: hidden; */margin-bottom: .65rem;position: relative;}
.y_doctorms dt img , .y_doctorms .pic img{width:100%;border-radius: 50%;}
.y_doctorms  span.tj{color: #fff; text-align: center; background: #fcb303; padding: 0 .1rem; font-size: .55rem; position: absolute; left: .2rem; bottom: -1px; line-height: .8rem; }
.y_doctorms dd , .y_doctorms .ms{margin-left:4.25rem;margin-right:4.6%;line-height:.95rem;}
.y_doctorms .name {font-size: 0.8rem;color:#333;}
.y_doctorms .name .f_clr66{font-size: .7rem;margin: 0 0 0 .2rem;}
.y_doctorms .name .level{color: #fff;text-align: center;background: #15a0f8;padding: 0 .1rem;font-size: .55rem;border-radius: 3px;vertical-align: middle;/* line-height: .8rem; *//* margin-top: -.5rem; */display: inline-block;margin-left: .3rem;}
.y_doctorms p {font-size: .7rem;color: #666;}
.y_doctorms .hos_name {margin: .05rem 0;}
/*健康商城 图片列表 左侧无导航切换 图片大小85px-孕婴应用了 */
.zc_reportitem .y_pic1{float:left;width:4.25rem;height:4.25rem;overflow:hidden;font-weight:bold;position: relative;}
.zc_reportitem .y_ms1{margin-left: 4.75rem;}
.zc_reportitem .y_ms1 h2{line-height: .9rem;font-weight: normal;font-size: 0.75rem;overflow:hidden;margin-bottom: .2rem;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.zc_reportitem .y_ms1 h4{font-size: 0.7rem;line-height:0.8rem;font-weight:normal;color:#999999;overflow: hidden;margin-bottom: .2rem;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.zc_reportitem .y_ms1 h4 .btn{padding: .2rem .4rem; font-size: .65rem; }
.zc_reportitem .y_ms1 h4.f_clr66{ color: #666;}
.zc_reportitem .y_ms1 h4 label.level{color: #fff; text-align: center; background: #15a0f8; padding: 0 .1rem; font-size: .55rem; border-radius: 3px; vertical-align: middle; display: inline-block; /* margin-left: .3rem; */ margin-top: -.2rem; }
.zc_reportitem .y_ms1 h4.line1,.zc_reportitem .y_ms1 h2.line1{-webkit-line-clamp:1;}
.zc_reportitem .bm{position: absolute; top: 2rem; right: 0.75rem; font-size: .7rem; }
.zc_reportitem .icon{font-size: 0.7rem;    color: #999;}
.zc_reportitem .icon .subject {padding-left: .8rem;    margin-right: 0.5rem;background: url(../img/zzzc_lt.png) left center no-repeat;background-size: 33% auto;}
.zc_reportitem .icon .comment {padding-left: .8rem;background: url(../img/zc_lt0.png) left center no-repeat;background-size: 33% auto;}
.zc_reportitem .bm3{position: absolute;top: 1.7rem;right: .75rem;font-size: .7rem;color: #15a0f8;border: 1px solid #15a0f8;width: 2.5rem;text-align: center;line-height: 1.2rem;border-radius: 3px;-webkit-transition: all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.zc_reportitem .bm3.cur{border: 1px solid #fcb303;color: #fcb303;}
.h_docsynopsis{background: #fff;}
.h_docsynopsis a{width: 33.33%; float: left; text-align: center; margin: .5rem 0;}
.h_docsynopsis .pic{width: 2.25rem; margin: 0 auto .2rem; height: 2.25rem; }
.h_docsynopsis .pic img{width: 100%; height: 100%; border-radius: 100%; }
.h_docsynopsis .name h2{font-weight: normal; font-size: .7rem; }
.h_docsynopsis .name h3{font-weight: normal; font-size: .7rem; color: #999; }
